@model HotelTasmania.Models.RoomType

@{
    ViewData["Title"] = "Edit Room Type";
}

<div class="container">
    <div class="row align-items-stretch no-gutters form-wrap">
        <div class="col-md">
            <div class="form h-100">
                <h3> Edit Room Type </h3>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="RoomTypeId" />
                    <div class="row">
                        <div class="form-group mb-3">
                            <label asp-for="RoomTypeName" class="control-label"></label>
                            <input asp-for="RoomTypeName" class="form-control" />
                            <span asp-validation-for="RoomTypeName" class="text-danger"></span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="submit" value="Save" class="btn btn-primary rounded-0 py-2 px-4" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
