.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.r-card {
    margin: 20px;
    padding: 20px;
    width: 350px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#ecb451, #e8b969);
}

.r-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link
{
position: relative;
text-decoration: none;
color: #ffeecf;
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
}

.card__title{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2px;
}

.card__subtitle{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 2px;
}

.card__item{
    font-size: 18px;
    list-style-type: none;
}

.card__list{
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: left;
    }
}