@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap-table">
    <h2 class="text-center"> Group Members </h2>
    <div class="hp-table">
        <div class="hp-thead">
            <div class="hp-tr">
                <div class="hp-th"> Name </div>
                <div class="hp-th"> Student ID </div>
            </div>
        </div>
        <div class="hp-tbody">
            <div class="hp-tr">
                <div class="hp-td"> Anil Gurung </div>
                <div class="hp-td"> 12001396 </div>
            </div>
            <div class="hp-tr">
                <div class="hp-td"> Rupak Rajbanshi </div>
                <div class="hp-td"> 12001303 </div>
            </div>
            <div class="hp-tr">
                <div class="hp-td"> Suraj Ghimire </div>
                <div class="hp-td"> 12100344 </div>
            </div>
            <div class="hp-tr">
                <div class="hp-td"> Sashi Thapa </div>
                <div class="hp-td"> 12000040 </div>
            </div>
        </div>
    </div>
</div>