<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - HotelTasmania</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelTasmania.styles.css" asp-append-version="true" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- Custom css files -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/homepage.css" rel="stylesheet" />
    <link href="~/css/forms.css" rel="stylesheet" />
    <link href="~/css/cards.css" rel="stylesheet" />

</head>

<body>
    <header class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <nav class="navbar navbar-expand-lg custom_nav-container align-items-center">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="">
                            <span>
                                Hotel Tasmania
                            </span>
                        </a>

                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center" style="float: right;">
                            <ul class="navbar-nav">
                                @if ((string)ViewData["Active"] == "Home"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                }
                                @if ((string)ViewData["Active"] == "Booking"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                                    </li>
                                }
                                @if ((string)ViewData["Active"] == "Customer"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                                    </li>
                                }

                                @if ((string)ViewData["Active"] == "RoomType"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="RoomType" asp-action="Index">Room Type</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="RoomType" asp-action="Index">Room Type</a>
                                    </li>
                                }
                                @if ((string)ViewData["Active"] == "Room"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Index">Room</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Index">Room</a>
                                    </li>
                                }
                                @if ((string)ViewData["Active"] == "Reservation"){
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
                                    </li>
                                }
                                else{
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>